* {
    margin: 0;
    padding: 0;
  }
.board{
    display:grid;
    aspect-ratio: 1;
    margin: auto;
    height: 100vh;
    grid-template-columns: repeat(8, 12.5%); 
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
}
.capturedwhites{
    justify-content: left;
    position: absolute;
    height: 30%;
    width: 23.5%;
    bottom: 0%; 
}
.capturedblacks {
    justify-content: left;
    position: absolute;
    height: 30%;
    width: 23.5%;
    top: 0%;
    transform: scaleY(-1);
}
.capturedblacks img {
    transform: scaleY(-1);
}
#blackturn {
    opacity: 0;
    text-align: right;
    position: absolute;
    right: 8%;
    top: 30%;
    font-size: 25px;
}
#whiteturn {
    opacity: 1;
    text-align: right;
    position: absolute;
    right: 8%;
    top: 60%;
    font-size: 25px;
}
#box1 {
    text-align: right;
    position: absolute;
    opacity: 0;
    right: 8%;
    top: 80%;
}
#box2 {
    text-align: right;
    position: absolute;
    opacity: 0;
    right: 8%;
    top: 10%;
}
#button1 {
    text-align: right;
    position: absolute;
    opacity: 0;
    right: 5%;
    top: 80%;
}
#button2 {
    text-align: right;
    position: absolute;
    opacity: 0;
    right: 5%;
    top: 10%;
}
#turncounter {
    text-align: right;
    position: absolute;
    right: 8%;
    top: 45%;
    font-size: 25px;
}
.capturedwhites img {
    height: 20%;
    width: 20%;
}
.capturedblacks img {
    height: 20%;
    width: 20%;
}
.rook {
    aspect-ratio: 1;
    z-index: 1;
    height: 100%;
}
.knight {
    aspect-ratio: 1;
    z-index: 1;
    height: 100%;
}
.bishop {
    aspect-ratio: 1;
    z-index: 1;
    height: 100%;
}
.pawn {
    aspect-ratio: 1;
    z-index: 1;
    height: 100%;
}
.queen {
    aspect-ratio: 1;
    z-index: 1;
    height: 100%;
}
.king {
    aspect-ratio: 1;
    z-index: 1;
    height: 100%;
}

.black {
    aspect-ratio: 1;
    z-index: 3;
    background-color: #9795238c;
}
.white {
    aspect-ratio: 1;
    z-index: 3;
    background-color: #FFFAD6;
}